<div class="content">
    <div class="login">
        <div class="title">
            <h4> Sign into your account</h4>
        </div>

        <form ng-submit="vm.login()">
            <div class="input-group">
                <span class="input-group-addon"> Email </span>
                <input type="text"
                       class="form-control"
                       required
                       ng-model="vm.loginValue"
                       placeholder="Enter your email here">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon"> Password </span>
                <input type="password"
                       class="form-control"
                       required
                       ng-model="vm.password"
                       placeholder="Enter your email here">
            </div>
            <br>
            <div class="input-group">
                <label class="remember">
                    <input type="checkbox" ng-model="vm.remember">
                    <span>Remember me on this computer</span>
                </label>
            </div>
            <br>
            <button type="type"
                    class="btn btn-primary btn-md btn-block">
                Login
            </button>
        </form>

    </div>
</div>