# Temp and project files
.DS_Store
.buildpath
.project
.rbx
.settings
.idea
.idea/
.idea/workspace.xml
.brackets.json
.editorconfig
nbproject
Thumbs.db
Desktop.ini
version.txt

# Specific file types
*.iml
*.lock

# Build Caches and artifacts
.sass-cache/
node_modules
dist
target

# Log files
npm-debug.log

# Test directories
coverage

# Others
