$textColor: gray;

@media screen and (min-width: 768px) {
	@import 'main';
}

@media screen and (min-width: 240px) and (max-width: 767px) {
	@import 'mobile';
}

.content {
	.login,
	.register {
		.input-group-addon {
			width: 140px;
		}

		.input-group {
			width: 100%;
		}

		.title {
			h4 {
				font-weight: 400;
				color: gray;
				padding-bottom: 15px;
				text-align: center;
			}
		}

		.remember {
			input {
				display: inline;
			}

			span {
				font-size: 13px;
				color: $textColor;
				font-weight: 400;
			}
		}
	}
}

.loading-indicator {
    position: absolute;
    background: $background-grey url('#{$images-path}loading-indicator.gif') no-repeat center center / 32px 32px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 4;
    @include transition('opacity 250ms');
}